<div class="joyride">
    <div class="joyride-inner">
      <!-- Tip Content -->
      <ol id="joyRideTipContent">
        {{#each joyrides}}
        <li data-class="{{_data-class}}" data-button="{{data-button}}" data-options="{{_data-options}}" class="{{_classes}}">
          {{{joyrideBody}}}
        </li>
        {{/each}}
      </ol>
    </div>
</div>